<body>

  <br>
  <br>
  <h1 style="color:white" align="center">GitHub Repositories</h1>
  <div class="container">
    <div id="shery">
      <form class="form" >
        <input type="text" class="form-control" placeholder="Search Username" [(ngModel)]="userName" name="userName" (keyup)="findUser()">

      </form>
    </div>
    <br>
    <br>

    <div class="card" *ngIf="user1">
      <div class="card-header">
        <h3>{{user1.login}} 's repositories</h3>
        <small>{{user1.name}}</small>
      </div>
      <div class="card-body">
        <div class="col" *ngFor='let repo of repos, let i=index'>
          <div class="row-md-4">
            {{repo[i].name}}
          </div>
          <div class="col-md-4">
          {{repos[i].pushed_at}}
          </div>
          <div class="col-md-4">
            <a href="{{repos[i].html_url}}" target="_blank"><button class="btn-inline btn-outline-info">Github</button></a>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</body>
