#search{
    padding-top: 50px;
    text-align: center;
}
#search input{
    border-radius: 20px;
}
#search btn{
    margin-left: 60px;
}
#main{
    background-color: rgb(107, 107, 102);
    height: 700px;
    margin-top: 20px;
    padding-right:900px;
}
#image{
    width: 100%;
    
}